:root {
  --navy-1: #fcfdff;
  --navy-2: #f6f9ff;
  --navy-3: #ecf2ff;
  --navy-4: #dee9ff;
  --navy-5: #cedeff;
  --navy-6: #bdd1fc;
  --navy-7: #a7c0f6;
  --navy-8: #89a9f1;
  --navy-9: #1639a5;
  --navy-10: #0f2e98;
  --navy-11: #1a3a92;
  --navy-12: #2b3c61;
  --navy-a1: #0055ff03;
  --navy-a2: #0055ff09;
  --navy-a3: #0051ff13;
  --navy-a4: #0055ff21;
  --navy-a5: #0053ff31;
  --navy-a6: #004df342;
  --navy-a7: #0048e558;
  --navy-a8: #0045e176;
  --navy-a9: #00269de9;
  --navy-a10: #002192f0;
  --navy-a11: #002486e5;
  --navy-a12: #001441d4;
  --gray-1: #fcfcfe;
  --gray-2: #f9fafc;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #dfe1e5;
  --gray-6: #d7d9de;
  --gray-7: #cacdd2;
  --gray-8: #b0b4ba;
  --gray-9: #8a8e95;
  --gray-10: #80838b;
  --gray-11: #60636a;
  --gray-12: #24262b;
  --gray-a1: #0000aa03;
  --gray-a2: #002a8006;
  --gray-a3: #00104010;
  --gray-a4: #000b3518;
  --gray-a5: #00103020;
  --gray-a6: #000d2d28;
  --gray-a7: #000e2635;
  --gray-a8: #000d204f;
  --gray-a9: #00091875;
  --gray-a10: #0006167f;
  --gray-a11: #0005109f;
  --gray-a12: #000208db;

  /* semantic aliases */
  --brand: var(--navy-9);
  --brand-hover: var(--navy-10);
  --bg-app: var(--gray-1);
  --bg-subtle: var(--gray-2);
  --border: var(--gray-6);
  --text: var(--gray-12);
  --text-muted: var(--gray-11);
}

.dark {
  --navy-1: #0d1321;
  --navy-2: #10182b;
  --navy-3: #14213f;
  --navy-4: #17274f;
  --navy-5: #1a2e5e;
  --navy-6: #20376e;
  --navy-7: #294487;
  --navy-8: #3457ac;
  --navy-9: #1639a5;
  --navy-10: #2044aa;
  --navy-11: #89a9f1;
  --navy-12: #d3e0fb;
  --navy-a1: #6493ff21;
  --navy-a2: #5f8eff2b;
  --navy-a3: #5186ff3f;
  --navy-a4: #4a7eff4f;
  --navy-a5: #477dff5e;
  --navy-a6: #4a80ff6e;
  --navy-a7: #4d80ff87;
  --navy-a8: #4d81ffac;
  --navy-a9: #2258ffa5;
  --navy-a10: #3066ffaa;
  --navy-a11: #91b3fff1;
  --navy-a12: #d6e4fffb;
  --gray-1: #111213;
  --gray-2: #17181b;
  --gray-3: #212225;
  --gray-4: #28292d;
  --gray-5: #2e3034;
  --gray-6: #36383d;
  --gray-7: #42454b;
  --gray-8: #5a5e65;
  --gray-9: #7c8088;
  --gray-10: #888c94;
  --gray-11: #aeb1b8;
  --gray-12: #e9ebef;
  --gray-a1: #e4f2ff13;
  --gray-a2: #d9e3ff1b;
  --gray-a3: #e3eaff25;
  --gray-a4: #e3e8ff2d;
  --gray-a5: #e2ebff34;
  --gray-a6: #e2eaff3d;
  --gray-a7: #e0ebff4b;
  --gray-a8: #e3edff65;
  --gray-a9: #e8f0ff88;
  --gray-a10: #eaf1ff94;
  --gray-a11: #f1f5ffb8;
  --gray-a12: #f9fbffef;
}
